.FlightPatch {
  width: 100%;
}

.Wrapper {
  max-width: 92rem;
  margin: 0 auto;
}

.Wrapper h2 {
  font-size: 2.5em;
  margin: 0 0 10px;
  letter-spacing: 5px;
}

.Wrapper .Subtitle {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  color: white;
  margin-right: 10px;
  float: right;
  letter-spacing: 1px;
}

.Wrapper p {
  font-family: Helvetica, sans-serif;
  color: #bdc2ce;
  letter-spacing: 0.5px;
  line-height: 2;
}

.Wrapper hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  margin: 0 0 30px;
}

.Wrapper .Links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Wrapper .Link {
  width: 162px;
  height: 37px;
  line-height: 37px;
  background-color: #009bdf;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 4px;
  color: black;
  transition: 0.5s color;
  position: relative;
  z-index: 99;
  text-decoration: none;
}

.Wrapper .Link:hover {
  color: white;
  text-decoration: none;
}

.Col1of2 {
  float: left;
  width: calc((100% - 12rem) / 2);
  margin: 0 8rem 0 2rem;
}

.Col2of2 {
  float: left;
  width: calc((100% - 12rem) / 2);
  margin-right: 2rem;
}

.Clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 1336px) {
  .Wrapper .Links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .FlightPatch {
    width: 50%;
    display: block;
    margin: 0 auto 40px;
  }

  .Wrapper hr {
    margin: auto;
    width: 95%;
  }

  .Wrapper h2 {
    text-align: center;
  }

  .Wrapper p {
    padding: 0 1em 0 1em;
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }

  .Wrapper .Subtitle {
    float: left;
  }

  .Col1of2 {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .Col2of2 {
    width: 100%;
    padding: none;
    margin-right: none;
  }
}

@media only screen and (max-width: 479px) {
  .FlightPatch {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0 0 20px;
  }

  .Wrapper h2 {
    font-size: 2em;
  }

  .Wrapper p {
    font-size: 0.8em;
  }

  .Wrapper .Subtitle {
    float: none;
  }
}
